/* Dans votre fichier RecommendedProfiles.css */

/* Style pour les éléments .items2 */
.items2 {
    padding: 30px;
    transition: 0.5s;
  }
  
  /* Style pour le nom */
  .name2 h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #000; /* Couleur verte par défaut */
    cursor: pointer;
  }
  
  /* Style pour le nom quand on survole la boîte */
  .testimonal .items2:hover .name2 h2 {
    color: #fff; /* Couleur noire quand on survole la boîte */
  }
  
  
  
  /* Style pour les boîtes quand on survole */
  .testimonal .items2:hover {
    background-color: #1eb2a6; /* Couleur verte */
    color: #fff; /* Texte blanc */
    cursor: pointer;
  }
  
  /* Style pour le texte dans les boîtes quand on survole */
  .testimonal .items2:hover span,
  .testimonal .items2:hover p {
    color: #fff; /* Texte blanc */
  }
  
  /* Style pour l'icône dans les boîtes quand on survole */
  .testimonal .items2:hover i {
    background-color: #fff; /* Fond blanc */
    color: #1eb2a6; /* Icône verte */
  }
  
  /* Style pour le conteneur grid2 */
  .testimonal .content2.grid2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style pour les éléments items2 (boîtes) */
  .testimonal .items2 {
    padding: 20px;
  transition: 0.3s;
  width: calc(33.33% - 20px); /* 33.33% moins la marge intérieure */
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px; /* Coins arrondis */
}
  


  /* Style pour les paragraphes */
  .name2 p {
    margin-top: 20px;
    color: grey;
    transition: 0.5s;
  }
  

  .linkedin-button {
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #1eb2a6; /* Couleur principale du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
  }
  
  /* Style pour le bouton LinkedIn en survol */
  .linkedin-button:hover {
    background-color: #fff; /* Couleur du fond en survol */
    color: #1eb2a6; /* Couleur du texte en survol */
  }
 
  .hover-l:hover {
    background-color: #1eb2a6;
    color: #fff;
  }
 .hover-l {
  font-weight: bold;
  color: #636a68;
  margin-right: 10px;
}


